{% extends 'Components/achievement.html.twig' %}

{% block achievement_wrapper %}
    <form action="/games/update.php" method="POST">
        {{ parent() }}
        <input type="submit" value="{{ achievement.description is null ? 'Add' : 'Update' }}" class="text-sm dark:bg-neutral-700 bg-neutral-300 mt-2 px-2 py-1">
    </form>
{% endblock %}

{% block achievement_body %}
    {{ parent() }}
    <div>
        <label for="description" class="inline-block text-sm dark:text-neutral-400 text-neutral-600 pb-2">Description</label>
        <input type="hidden" value="{{ achievement.id }}" name="achievement_id">
        <input name="description" id="description" placeholder="Description" class="p-2 text-sm w-full dark:bg-neutral-500" value="{{ achievement.description }}">
    </div>
{% endblock %}
