{% extends 'Layouts/main.html.twig' %}

{% block head_content %}
    <title>Tracker | Users :: {{ user.name }}</title>
{% endblock %}

{% block content %}
    <div class="text-lg">{{ user.name }}</div>
    {% include 'Users/_subnav.html.twig' with { 'user': user } only %}
    <div id="app">
        {% verbatim %}
            <div class="sticky top-0 bg-white dark:bg-dark z-50 flex py-2">
                <div class="w-full flex mx-auto">
                    <div class="text-xl dark:bg-neutral-700 bg-neutral-300 leading-5 text-center p-2">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="text" v-model="searchBox" class="w-full p-2 dark:bg-neutral-700 bg-neutral-300" placeholder="search" />
                </div>
                <div class="flex justify-center text-xl">
                    <div>
                        <input type="radio" value="none" id="listMode3" v-model="listMode" class="hidden peer" />
                        <label for="listMode3" class="h-full block px-3 dark:peer-checked:text-white peer-checked:text-dark peer-checked:bg-mint bg-neutral-300 dark:bg-neutral-700">
                            <i class="fa-solid fa-battery-empty align-sub"></i>
                        </label>
                    </div>
                    <div>
                        <input type="radio" value="wip" id="listMode2" v-model="listMode" class="hidden peer" />
                        <label for="listMode2" class="h-full block px-3 dark:peer-checked:text-white peer-checked:text-dark peer-checked:bg-mint bg-neutral-300 dark:bg-neutral-700">
                            <i class="fa-solid fa-battery-half align-sub"></i>
                        </label>
                    </div>
                    <div>
                        <input type="radio" value="completed" id="listMode1" v-model="listMode" class="hidden peer" />
                        <label for="listMode1" class="h-full block px-3 dark:peer-checked:text-white peer-checked:text-dark peer-checked:bg-mint bg-neutral-300 dark:bg-neutral-700">
                            <i class="fa-solid fa-battery-full align-sub"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-sm text-neutral-500 dark:text-neutral-400 mb-2 text-center">{{ games.length }}/{{ originalGames.length }} Games</div>
            <div class="grid md:grid-cols-3 grid-cols-1 gap-1">
                    <div v-for="game in games">
                        <a :href="'/games/user.php?gameid=' + game.id + '&userid=' + userId" class="flex">
                            <div :style="{ backgroundColor: 'hsl(' + Math.floor(game.achievement_percent) * 1.64 + ', 86.7%, 50%)' }" class="w-2 shrink-0"></div>
                            <div class="p-2 bg-neutral-300 dark:bg-neutral-700 grow">
                                <div class="line-clamp-1 mb-2">
                                    <span v-html="highlight(game.name)" :title="game.name"></span>
                                </div>
                                <div class="flex justify-between text-sm leading-3 dark:text-neutral-400 text-neutral-500">
                                    <span class="truncate"><i class="fa-solid fa-trophy"></i> {{ game.unlocked_achievements }}/{{ game.total_achievements }}</span>
                                    
                                    <span v-if="!game.completed_at">{{ game.achievement_percent }}<i class="ml-1 fa-solid fa-percent"></i></span>
                                    <span v-else>{{ game.completed_at }}<i class="fa-solid fa-crown ml-1"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endverbatim %}
        <script>
        const {createApp, ref, computed} = Vue

        createApp({
            setup() {
                const listMode = ref('wip') // wip, completed, none
                const searchBox = ref('')
                const userId = '{{ user.id }}'
                const originalGames = [{{ games|raw }}]

                const games = computed(() => {
                    return originalGames.filter((game) => {
                        let none = game.unlocked_achievements === 0
                        let completed = !!game.completed_at
                        let wip = !(none || completed)
                        let result = false

                        if(listMode.value === 'wip')
                            result ||= wip
                        if(listMode.value === 'none')
                            result ||= none
                        if(listMode.value === 'completed')
                            result ||= completed

                        return result;
                    }).filter((b) => {
                        if (searchBox.value.length === 0)
                            return true
                        let searchValue = searchBox.value.toLowerCase()
                        let gameName = b.name.toLowerCase()
                        return gameName.includes(searchValue)
                    })
                })

                function highlight(name) {
                    if (searchBox.value.length === 0)
                        return name
                    return name ? name.replaceAll(new RegExp('(' + searchBox.value + ')', "ig"), '<span class="text-green-500">$1</span>') : '';
                }

                return {
                    games, listMode, searchBox, highlight, userId, originalGames
                }
            }
        }).mount('#app')
    </script>
{% endblock %}
