{% extends 'Layouts/main.html.twig' %}

{% block content %}
<a href="/users/activity.php?{{ {'userid': user[0].id}|url_encode }}">Activity</a>

<div class="grid md:grid-cols-4 grid-cols-1 gap-2">
    {% for game in user[3] %}
        <a href="/games/user.php?{{ {'gameid': game.id, 'userid': user[0].id}|url_encode }}">
            <div style="background-color: hsl({{ game.achievement_percent|round }}, 50%, 35%)" class="p-2">
                <strong class="line-clamp-1">{{ game.name }}</strong>
                <div class="flex justify-between">
                    <span  class="truncate">{{ game.unlocked_achievements }}/{{ game.total_achievements }}</span>
                    <span>{{ game.achievement_percent|round(1, 'floor') }}%</span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
