{% extends 'Layouts/main.html.twig' %}

{% block content %}
<div id="app">
    <form action="/scraper/user.php" @submit.prevent="onSubmit">
        <label>Steam-ID</label>
        <input type="text" placeholder="Steam-ID" name="userid">
        <input type="submit">
    </form>
    <div class="grid grid-cols-2">
        <div>
            <table class="w-full">
                <thead>
                    <th class="text-sm">Username</th>
                    <th class="text-sm">Games</th>
                    <th class="text-sm">Achievements</th>
                    <th class="text-sm" colspan="3">Actions</th>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        {% verbatim %}
                        <td>{{ user.name }}</td>
                        <td>{{ user.games_count }}</td>
                        <td>{{ user.total_achievements }}</td>
                        <td><a class="text-orange-300" @click="fetchAsync('/scraper/user.php?userid=' + user.id)">user</a></td>
                        <td><a class="text-green-300" @click="fetchAsync('/scraper/games.php?userid=' + user.id)">games</a></td>
                        <td><a class="text-red-300" @click="fetchAsync('/scraper/achievements.php?userid=' + user.id)">achievements</a></td>
                        {% endverbatim %}
                    </tr>
                </tbody>
            </table>
        </div>

        
        <div>
            {% verbatim %}
                <table class="w-full">
                    <thead>
                        <th class="text-sm">URL</th>
                        <th class="text-sm">Operation</th>
                        <th class="text-sm">Success</th>
                        <th class="text-sm">Api-Calls</th>
                    </thead>
                    <tbody>
                        <tr v-for="apiCall in apiCalls">
                            <td class="text-xs">{{ apiCall.url }}</td>
                            <td>{{ apiCall.operation }}</td>
                            <td>{{ apiCall.result ? '✔️' : '❌' }}</td>
                            <td>{{ apiCall.api_calls }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endverbatim %}
        </div>
    </div>
</div>

<script>
    const { createApp, ref, computed } = Vue

    createApp({
        setup() {
            const users = ref({{ users|raw }})
            const apiCalls = ref([])

            function onSubmit(event) {
                let userid = event.target.elements.userid.value

                fetch('/scraper/user.php?userid=' + userid)
                    .then(response => response.json())
                    .then(data => users.value = data["users"])
            }

            function fetchAsync(url) {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        this.users = data["users"]
                        this.apiCalls.push({'url': url, 'operation':data['operation'],'result':data['result'],'api_calls':data['api_calls']})
                    })
            }

            return {
                users, onSubmit, fetchAsync, apiCalls
            }
        }
    }).mount('#app')
</script>
{% endblock %}
