{% extends 'Layouts/main.html.twig' %}

{% block head_content %}
    <title>Tracker | Users :: {{ user[0].name }}</title>
{% endblock %}

{% block content %}
    {% include 'Users/_subnav.html.twig' with { 'user': user[0], 'path': path } only %}
    <div class="max-w-7xl">
        <div class="m-3 hidden">
            <img class="w-40" src="{{ user[0].avatar_url }}">
            <h2 class="text-2xl font-bold">{{ user[0].name }}</h2>
            <a class="text-blue-400" href="{{ user[0].steam_url }}">Link to Steam</a>
        </div>
        <div class="overflow-hidden overflow-x-auto">
            <table class="mx-auto">
                <thead class="text-xs">
                    <th></th>
                    {% for month, count in months %}
                        <th class="text-neutral-500 dark:text-neutral-400" colspan="{{ count }}"><small>{{ month }}</small></th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for weekday in weekdays %}
                        <tr class="font-mono">
                            <td class="text-xs font-bold text-neutral-500 self-center"><?php echo array_pop($days) ?></td>
                            {% for day, count in weekday %}
                                <td>
                                    <a href="/users/activity.php?{{ {'userid': user[0].id, 'date': count[2]|date('U')}|url_encode }}">
                                        <div class="float-right w-4 h-4 rounded" style="background-color: {{ count[0] }}" title="{{ 'Earned ' ~ count[1] ~ ' Achievements on ' ~ day }}"></div>
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if show_date is not null %}
            <div class="text-center my-3">
                <a class="mr-2" href="/users/activity.php?userid={{ user[0].id }}&date={{ show_date|date('U') - 60*60*24 }}"><i class="fa-solid fa-angle-left"></i></a>
                {{ show_date|date('d.m.Y') }}
                <a class="ml-2" href="/users/activity.php?userid={{ user[0].id }}&date={{ show_date|date('U') + 60*60*24 }}"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        {% endif %}
        {% if achievements is not empty %}
            <div class="grid gap-4 grid-cols-1">
                {% for game_name, game_achievements in achievements %}
                    <div>
                        <div class="mb-2">{{ game_name }}</div>
                        <div class="grid gap-1 grid-cols-3">
                            {% for achievement in game_achievements %}
                                {% include 'Users/activity_achievement.html.twig' with { 'hide_action': true } %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
